Downloading Data

In [1]:
import requests

for i in range(1,51):
    with open(f"htmls/page{i}.html", 'w', encoding= 'utf-8') as file:
        a= requests.get(f"https://books.toscrape.com/catalogue/page-{i}.html")
        file.write(a.text)
        print(f"Successfully downloaded page-{i}.")

In [2]:
from bs4 import BeautifulSoup

In [3]:
with open("htmls/page1.html", "r") as file:
    content= file.read()

In [4]:
soup= BeautifulSoup(content, "html.parser")

In [5]:
soup.find("p")

<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>

In [6]:
a= soup.select("article.product_pod")

In [7]:
ab_1= a[0].select_one("p.star-rating")['class'][1]
ab_1

'Three'

In [8]:
ab_2= a[0].select("h3")[0].select("a")[0]["title"]
print(ab_2)

A Light in the Attic

In [9]:
ab_3= a[0].select("h3 a")[0]["title"]
print(ab_3)

A Light in the Attic

In [10]:
ab_4= a[0].select("p.price_color")[0]
price_p= float(ab_4.text.split('£')[1])
price_r= price_p* 116.50

In [11]:
print(f"Price in pound £{price_p}.")
print(f"Price in rupees ₹{price_r}.")

price_pounds= "£ "+ str(price_p)
price_rupees= "₹ "+ str(price_r)

Price in pound £51.77.
Price in rupees ₹6031.205.

In [12]:
print(price_pounds)
print(price_rupees)

£ 51.77
₹ 6031.205

In [13]:
ab_5= a[0].select("p.instock")[0].text.strip()
ab_5

'In stock'

In [14]:
articles= soup.select("article.product_pod")

In [15]:
book_data= [] 
for article in articles:
    title= article.select("h3 a")[0]["title"]
    price=  article.select("p.price_color")[0]
    price_rupees= "₹ "+ str(round((float(price.text.split('£')[1]) * 116.50),2))
    rating= article.select_one("p.star-rating")['class'][1]
    availability= article.select("p.instock")[0].text.strip() == "In stock"
    book_data.append([title, price_rupees, rating, availability])

book_data

[['A Light in the Attic', '₹ 6031.2', 'Three', True],
 ['Tipping the Velvet', '₹ 6260.71', 'One', True],
 ['Soumission', '₹ 5836.65', 'One', True],
 ['Sharp Objects', '₹ 5571.03', 'Four', True],
 ['Sapiens: A Brief History of Humankind', '₹ 6317.8', 'Five', True],
 ['The Requiem Red', '₹ 2638.72', 'One', True],
 ['The Dirty Little Secrets of Getting Your Dream Job',
  '₹ 3884.11',
  'Four',
  True],
 ['The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
  '₹ 2088.84',
  'Three',
  True],
 ['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
  '₹ 2632.9',
  'Four',
  True],
 ['The Black Maria', '₹ 6075.47', 'One', True],
 ['Starving Hearts (Triangular Trade Trilogy, #1)', '₹ 1629.84', 'Two', True],
 ["Shakespeare's Sonnets", '₹ 2406.89', 'Four', True],
 ['Set Me Free', '₹ 2034.09', 'Five', True],
 ["Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
  '₹ 6091.78',
  'Five',
  True],
 ['Rip it Up and Start Again', '₹ 4079.83', 'Five', True],
 ['Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
  '₹ 6669.62',
  'Three',
  True],
 ['Olio', '₹ 2782.02', 'One', True],
 ['Mesaerion: The Best Science Fiction Stories 1800-1849',
  '₹ 4379.24',
  'One',
  True],
 ['Libertarianism for Beginners', '₹ 5979.94', 'Two', True],
 ["It's Only the Himalayas", '₹ 5262.31', 'Two', True]]

In [16]:
len(book_data)

20

In [17]:
import pandas as pd

In [18]:
data= pd.DataFrame(book_data, columns= ["Title", "Price","Rating", "Availability"])
data.index= data.index + 1

In [19]:
data

,Title,Price,Rating,Availability
1,A Light in the Attic,₹ 6031.2,Three,True
2,Tipping the Velvet,₹ 6260.71,One,True
3,Soumission,₹ 5836.65,One,True
4,Sharp Objects,₹ 5571.03,Four,True
5,Sapiens: A Brief History of Humankind,₹ 6317.8,Five,True
6,The Requiem Red,₹ 2638.72,One,True
7,The Dirty Little Secrets of Getting Your Dream...,₹ 3884.11,Four,True
8,The Coming Woman: A Novel Based on the Life of...,₹ 2088.84,Three,True
9,The Boys in the Boat: Nine Americans and Their...,₹ 2632.9,Four,True
10,The Black Maria,₹ 6075.47,One,True
11,"Starving Hearts (Triangular Trade Trilogy, #1)",₹ 1629.84,Two,True
12,Shakespeare's Sonnets,₹ 2406.89,Four,True
13,Set Me Free,₹ 2034.09,Five,True
14,Scott Pilgrim's Precious Little Life (Scott Pi...,₹ 6091.78,Five,True
15,Rip it Up and Start Again,₹ 4079.83,Five,True
16,Our Band Could Be Your Life: Scenes from the A...,₹ 6669.62,Three,True
17,Olio,₹ 2782.02,One,True
18,Mesaerion: The Best Science Fiction Stories 18...,₹ 4379.24,One,True
19,Libertarianism for Beginners,₹ 5979.94,Two,True
20,It's Only the Himalayas,₹ 5262.31,Two,True

In [20]:
for i in range(2, 51):
    with open(f"htmls/page{i}.html", "r", encoding= "utf-8") as file:
        content= file.read()
    soup= BeautifulSoup(content, "html.parser")
    articles= soup.select("article.product_pod")
    book_data= [] 
    for article in articles:
        title= article.select("h3 a")[0]["title"]
        price=  article.select("p.price_color")[0]
        price_rupees= "₹ "+ str(round((float(price.text.split('£')[1]) * 116.50),2))
        rating= article.select_one("p.star-rating")['class'][1]
        availability= article.select("p.instock")[0].text.strip() == "In stock"
        book_data.append([title, price_rupees, rating, availability])

    df_dummy= pd.DataFrame(book_data, columns= ["Title", "Price","Rating", "Availability"])
    data= pd.concat([data, df_dummy],  ignore_index= True)
    print(f"Done {i}th time")

Done 2th time
Done 3th time
Done 4th time
Done 5th time
Done 6th time
Done 7th time
Done 8th time
Done 9th time
Done 10th time
Done 11th time
Done 12th time
Done 13th time
Done 14th time
Done 15th time
Done 16th time
Done 17th time
Done 18th time
Done 19th time
Done 20th time
Done 21th time
Done 22th time
Done 23th time
Done 24th time
Done 25th time
Done 26th time
Done 27th time
Done 28th time
Done 29th time
Done 30th time
Done 31th time
Done 32th time
Done 33th time
Done 34th time
Done 35th time
Done 36th time
Done 37th time
Done 38th time
Done 39th time
Done 40th time
Done 41th time
Done 42th time
Done 43th time
Done 44th time
Done 45th time
Done 46th time
Done 47th time
Done 48th time
Done 49th time
Done 50th time

In [21]:
data.index= data.index+1
print(data.shape)
data.head()

(1000, 4)

                                   Title      Price Rating  Availability
1                   A Light in the Attic   ₹ 6031.2  Three          True
2                     Tipping the Velvet  ₹ 6260.71    One          True
3                             Soumission  ₹ 5836.65    One          True
4                          Sharp Objects  ₹ 5571.03   Four          True
5  Sapiens: A Brief History of Humankind   ₹ 6317.8   Five          True

In [23]:
 data.to_csv("DATA.csv", index=False)

import mysql.connector

conn = mysql.connector.connect(
    host='localhost', user='root', password='Saurabh@2002', database='booksdb'
)
cursor = conn.cursor()

query = "INSERT INTO books (Title, Price, Rating, Availability) VALUES (%s, %s, %s, %s)"

for _, row in data.iterrows():
    cursor.execute(query, (row['Title'], row['Price'], row['Rating'], row['Availability']))

conn.commit()
conn.close()